<h1><%= @user.name %></h1>

 


<ul class="side-nav">
  <li class="active"><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), :method => :delete %></li>
  <li><%= link_to "Contacts",recipents_path %></li>
</ul>