<%= link_to "Create Contact", new_recipient_path, class: "button radius" %>
<h3>These Are All Your Recipients</h3>
<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Email</th>
    </tr>
  </thead>
  <% @recipients.each do |recipient| %>
    <tr> 
      <td><%= recipient.name%></td>
      <td><%= recipient.email%></td>
    </tr>
  <% end %>
  </tbody>
</table>

