<%= link_to "Create Contact", new_user_recipient_path(current_user), class: "button" %>
<h3>These Are All Your Recipients</h3>
<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Email</th>
    </tr>
  </thead>
  <% @recipients.each do |recipient| %>
    <tr> 
      <td><%= recipient.first_name %></td>
      <td><%= @recipent.last_name %></td>
      <td><%= recipient.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>

