<h2>These Are All Your Recipients</h2>
<%= link_to "Create Contact", new_recipient_path %>
 

  <li><%= @recipient %><li>


<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Email</th>
    </tr>
  </thead>
    <tr>
      <%= @recipient.each do |recipient| %>
      <td><%@recipent.name%></td>
      <td><%@recipent.email%></td>
  <% end %>
    </tr>
    <tr>
      <td>Joe</td>
      <td>joe@new.com</td>
    </tr>
  </tbody>
</table>