<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Email</th>
    </tr>
  </thead>
    <tr>
      <td><%= @recipent.first_name %></td>
      <td><%= @recipent.last_name %></td>
      <td><%= @recipent.email %></td>
      <td><%=link_to "Edit" %></td>

    </tr>