<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">Mailman is a Email Service that allows Small Business to come together.</h3>
        </div>

          <div class="modal-body">
              
              <center>
               <p>We enable all our clients to gain the benefit of buying internet resources as a whole instead of individually, but with out the need for techinal skills. We at Mail man are striving to create a community of entrepreneurs that would like to pool their resources in order to scale their business and make it more efficient. </p>
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!