<h3>Welcome to Mailman</h3>

<p>Mailman is a Email Service that allows Small Business to come together.</p>
<p>We enable all our clients to gain the benefit of buying internet resources as a whole instead of individually, but with out the need for techinal skills. We at Mail man are striving to create a community of entrepreneurs that would like to pool their resources in order to scale their business and make it more efficient. </p>