<div id="pushDown">
  <center style="margin-top: 150px;">
    <h3>
      Mailman is a Email Service that allows Small Business to come together.</h3>
    </div>

    <div>


    <p class="about">We enable all our clients to gain the benefit of buying internet resources as a whole instead of individually, but with out the need for techinal skills. We at MaiMan are striving to create a community of entrepreneurs that would like to pool their resources in order to scale their business and make it more efficient. </p>
    </div>
    <center>
    </div>
