<div id="pushDown">
  <center style="margin-top: 150px;">
    <h3>
      Mailman is a Email Service that allows Small Business to come together.</h3>
    </div>
<div class="divider"></div>
    <div class="about">

      <h3> We enable all our clients to gain the benefit of buying  

      internet resources as a whole instead of individually, but with out the need 

        for techinal skills.
      </h3> 
        
        <h3>We at MaiMan are striving to create a community of </h3>

        <h3>entrepreneurs that would like to pool their resources in order to scale their business and make it more efficient.
        </h3> 
    </div>
    <center>
    </div>
