<h1>Welcome To Mail Man </h1>


<ul class="small-block-grid-3">
  <%= link_to'Sign Up',new_user_path, class: "button radius"%>
  <%= link_to'Sign In',new_session_path, class: "button radius" %>
</ul>

