<div>

<ul>
  <% @campaigns.each do |campaign| %>
    <li><%= link_to campaign.name, campaign_path(campaign) %></li>
  <% end %>
</ul>

</div>  

<%= link_to "Create Email Campaign", new_user_campaign_path(@user) ,class: "button"%>