<divclass="large-block-grid-4">

<%= collection_select(:recipients, :id, @recipient, :name, :email, options ={:prompt => "-Select a Email Template"}, :class =>"small secondary radius button dropdown") %>

</div>  








<%= link_to "Create Email Campaign", new_user_campaign_path(@user) ,class: "button tiny radius"%>


