<div class="divider" ></div>
<center class="campaignIndex">
  <div>
    <%= link_to "Create Email Campaign", new_user_campaign_path(@user) ,class: "btn btn-primary" %>

    <h3>These Are All Your Campiagns</h3>
    <ul class="allCampaigns">
      <% @campaigns.each do |campaign| %>
      <li class="campname"><%= link_to campaign.name, campaign_path(campaign) %></li>
      <% end %>
    </center>
  </ul>
</div>  
