<h1>Campaign: <%= @campaign.name %></h1>
<% if @campaign.email_template %>
  <%= link_to "Edit Template", edit_campaign_email_template_path(@campaign )  %>
<% else %>
  <%= link_to 'Create Template', new_campaign_email_template_path(@campaign) %>
<% end %>