/* --------------------------------------------------------------------------------- */
/* Mobile Navigation
/* --------------------------------------------------------------------------------- */
.mobilenav-container {
  display: none;
  float: left;
  width: 100%;
}
.mobilenav {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 59px;
  left: 0px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 18px 0 18px;
  border-bottom:1px solid #dadada;
  -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.15);
}
.mobilenav li {
  border-top: 1px solid #dadada;
}
.dark .mobilenav li:first-child {
  border-top: 0;
}
.mobilenav li a {
  color: #1b222e;
  display: block;
  padding: 16px 0;
  font-weight: 500;
  position: relative;
}
.mobilenav li a.current {
  color: #2c7ebe;
}
.mobilenav li > ul li {
  padding-left: 10px;
  border-top: 1px solid #dadada !important;
}
.mobilenav a:hover, .mobilenav a:hover:after {
  color: #2c7ebe;
}
.mobilenav li a:after {
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 16px;
  color: #cccccc;
  position: absolute;
  top: 16px;
  right: -10px;
  width: 20px;
  height: 14px;
}
.mobilenav-button-container {
  width: 20px;
  height: 100%;
  float: right;
  display: none;
}
.mobilenav-button-inner {
  width: 20px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.mobilenav-button {
  width: 20px;
  position: relative;
  display: block;
  height: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mobilenav-button:before {
  content: '';
  width: 20px;
  height: 4px;
  display: block;
  position: absolute;
  top: -6px;
  left: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mobilenav-button:after {
  content: '';
  width: 20px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}