
<footer>
  <div class="footer-infobar">
    <div class="content-width">    
    </div>
  </div>

  <div class="footer">
    <div class="content-width">
      <div class="dark-bg footer-copyright">
        Copyright &copy; 2013 <a href="#" target="_blank">MailMan</a>. All rights reserved.
      </div>
    </div>
  </div>
</footer>
