         <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Slides -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <ul class="slider-container" id="home-slider">

          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- Slide 1 (Big Title & Text) -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <li class="slide-outer">
            <div class="slide-inner">
              <div class="content-width">
                <div class="slide-style-1">
                  <!-- Title -->
                  <h1>Super Clean &amp; Custom Email With Fast Service <span>Email</span><span>.</span></h1>
                  <!-- Text -->
                  <p>Professional emails with fast reliable service </p>
                </div>
              </div>
            </div>
          </li>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Slide 1 -->
          <!-- ~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- Slide 2 (Centered Icon & Text) -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <li class="slide-outer">
            <div class="slide-inner">
              <div class="content-width">
                <div class="slide-style-2">
                  </div>
                  <!-- Title -->
                  <h1><span>Upload And Manage Contacts.</span></h1>
                  <!-- Text -->
                  <p>Easy to use Contact Upload &amp; Management System</p>
                </div>
              </div>
            </div>
          </li>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Slide 2 -->
          <!-- ~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- Slide 3 (Left Text / Right Image) -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <li class="slide-outer">
            <div class="slide-inner">
              <div class="content-width">
                <div class="slide-style-3">
                  <!-- ~~~~~~~~~~~~~~~~~ -->
                  <!-- Left Column -->
                  <!-- ~~~~~~~~~~~~~~~~~ -->
                  <div class="left-column">
                    <!-- Title -->
                    <h1><span>Allows Your Business To Grow Exponetially</span></h1>
                    <!-- Text -->
                    <p>MailMan Use a Unique Pricing Strategy To Encourage Mass Market Scaling</p>
                    <!-- Button -->
                    <a class="button accent" href="#"><i class="fa fa-info-circle"></i>More Info</a>
                    <!-- Button -->
                    <a class="button white" href="#"><i class="fa fa-envelope"></i>Contact Us</a>
                  </div>
                  <!-- ~~~~~~~~~~~~~~~~~ -->
                  <!-- END Left Column -->
                  <!-- ~~~~~~~~~~~~~~~~~ -->
                  <!-- ~~~~~~~~~~~~~~~~~ -->
                  <!-- Right Column -->
                  <!-- ~~~~~~~~~~~~~~~~~ -->
                  <div class="right-column">
                    <!-- Image -->
                    <img alt="" src="images/iphone-image.png"/>
                  </div>
                  <!-- ~~~~~~~~~~~~~~~~~ -->
                  <!-- END Right Column -->
                  <!-- ~~~~~~~~~~~~~~~~~ -->
                </div>
              </div>
            </div>
          </li>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Slide 3 -->
          <!-- ~~~~~~~~~~~~~~~~~ -->

        </ul>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Slides -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Banner Navigation Bar -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="slider-nav-container">
          <div class="slider-nav-inner">
            <div class="slider-nav content-width">

              <!-- ~~~~~~~~~~~~~~~~~ -->
              <!-- Slide Links -->
              <!-- ~~~~~~~~~~~~~~~~~ -->
              <ul id="bx-pager">
                <li><a data-slide-index="0" href="">Clean Custom Emails</a></li>
                <li><a data-slide-index="1" href="">Upload Contacts</a></li>
                <li><a data-slide-index="2" href="">Grow Your Business</a></li>
              </ul>
              <!-- ~~~~~~~~~~~~~~~~~ -->
              <!-- END Slide Links -->
              <!-- ~~~~~~~~~~~~~~~~~ -->

              <!-- ~~~~~~~~~~~~~~~~~ -->
              <!-- Slide Controls -->
              <!-- ~~~~~~~~~~~~~~~~~ -->
              <div class="slider-controls">
                <div id="slider-pause"></div>
                <div id="slider-prev"></div>
                <div id="slider-next"></div>
              </div>
              <!-- ~~~~~~~~~~~~~~~~~ -->
              <!-- END Slide Controls -->
              <!-- ~~~~~~~~~~~~~~~~~ -->

            </div>
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Banner Navigation Bar -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

      </div>
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- END Home Banner -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- CTA Bar - Set "white", "accent" or "dark" -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="home-cta-bar-container accent">

        <div class="content-width">
          <div class="home-cta-bar">
            <!-- Text -->
            <div class="text">
              A super easy to use Email Marketing System ready to serve almost all business types.
            </div>
            <!-- Button -->
            <div class="home-cta-bar-button">
              <a class="button transparent" href="#"><i class="fa fa-shopping-cart"></i>Create Account</a>
            </div>
          </div>
        </div>

      </div>
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- END CTA Bar -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- Main Content -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="main-content">
        <div class="main-content-inner content-width">

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Left Aligned Icons & Text -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="column-container">

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-one-third">
              <div class="icons-column">
                <!-- Icon Backing -->
                <div class="icon-backing" style="background-color: #66b9b4;">
                  <!-- Icon -->
                  <i class="fa fa-heart"></i>
                </div>
              </div>
              <div class="content-column">
                <!-- Title -->
                <h3>Great Customer Service</h3>
                <!-- Text -->
                <p>We are a Small Business Thats Geared Toward Helping Other Small Businesses.</p>
              </div>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-one-third">
              <div class="icons-column">
                <!-- Icon Backing -->
                <div class="icon-backing" style="background-color: #6E6588;">
                  <!-- Icon -->
                  <i class="fa fa-font"></i>
                </div>
              </div>
              <div class="content-column">
                <!-- Title -->
                <h3>Custom Templates</h3>
                <!-- Text -->
                <p>Create Your Own Email Live on The Site</p>
              </div>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-one-third">
              <div class="icons-column">
                <!-- Icon Backing -->
                <div class="icon-backing" style="background-color: #63885F;">
                  <!-- Icon -->
                  <i class="fa fa-fullscreen"></i>
                </div>
              </div>
              <div class="content-column">
                <!-- Title -->
                <h3>We Here To Help You Expand</h3>
                <!-- Text -->
                <p>Our Mission is to help our clients grow.</p>
              </div>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END One Third -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Left Aligned Icons & Text -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Divider -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="divider"></div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Divider -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Latest News / Testimonials (Three Quater/One Fourth) -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="column-container">

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Latest News Columns -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-three-qtr">

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- Divider -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div class="divider"></div>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Divider -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- Title -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <h3 class="section-title">What's going on?</h3>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Title -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- Navigation (Back/Next) -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div id="blog-nav" class="carousel-nav">
                <div class="back"></div>
                <div class="next"></div>
              </div>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Navigation (Back/Next) -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- The Carousel -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div class="carousel">
                <ul id="blog-carousel" class="slider-container">

                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- One Fourth -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <li class="column-one-fourth">
                    <!-- Image -->
                    <a href="blog-post.html" class="image-link"><img alt="" src="images/placeholders/placeholder-large.jpg" class="fullwidth"/></a>
                    <!-- Title -->
                    <h3><a href="blog-post.html">Lorem Ipsum is simply dummy text of the printing</a></h3>
                    <!-- Date -->
                    <div class="date">12th June 2013</div>
                    <!-- Excerpt -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of ...</p>
                    <!-- Read More Link -->
                    <a href="blog-post.html">Read More</a>
                  </li>
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- END One Fourth -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- One Fourth -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <li class="column-one-fourth">
                    <!-- Image -->
                    <a href="blog-post.html" class="image-link"><img alt="" src="images/placeholders/placeholder-large.jpg" class="fullwidth"/></a>
                    <!-- Title -->
                    <h3><a href="blog-post.html">Contrary to popular belief, Lorem Ipsum is not just text</a></h3>
                    <!-- Date -->
                    <div class="date">12th June 2013</div>
                    <!-- Excerpt -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of ...</p>
                    <!-- Read More Link -->
                    <a href="blog-post.html">Read More</a>
                  </li>
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- END One Fourth -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- One Fourth -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <li class="column-one-fourth">
                    <!-- Image -->
                    <a href="blog-post.html" class="image-link"><img alt="" src="images/placeholders/placeholder-large.jpg" class="fullwidth"/></a>
                    <!-- Title -->
                    <h3><a href="blog-post.html">The standard chunk of Lorem Ipsum used since the</a></h3>
                    <!-- Date -->
                    <div class="date">12th June 2013</div>
                    <!-- Excerpt -->
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of ...</p>
                    <!-- Read More Link -->
                    <a href="blog-post.html">Read More</a>
                  </li>
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- END One Fourth -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                </ul>
              </div>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Carousel -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Latest News Columns -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Testimonials Column -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-one-fourth">

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- Divider -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div class="divider"></div>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Divider -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- Title -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <h3 class="section-title">Testimonials</h3>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Title -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- Navigation (Back/Next) -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div id="testimonials-nav" class="carousel-nav">
                <div class="back"></div>
                <div class="next"></div>
              </div>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Navigation (Back/Next) -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- Carousel -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div class="carousel">
                <ul id="testimonials-carousel" class="slider-container">

                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- Testimonial 1 -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <li class="column-one-fourth">
                    <!-- Text -->
                    <div class="testimonial-text">
                      <p>"Awesome Service"</p>
                    </div>
                    <!-- Name -->
                    <div class="testimonial-name">
                      CEO 
                    </div>
                    <!-- Company URL -->
                    <div class="testimonial-link">
                      <a href="#">Glenview Capital</a>
                    </div>
                  </li>
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- END Testimonial 1 -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- Testimonial 2 -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <li class="column-one-fourth">
                    <!-- Text -->
                    <div class="testimonial-text">
                      <p>"MailMan has proven time and time again that they can deliver results on time and on price!"</p>
                    </div>
                    <!-- Name -->
                    <div class="testimonial-name">
                      Jeff
                    </div>
                    <!-- Company URL -->
                    <div class="testimonial-link">
                      <a href="#">GA</a>
                    </div>
                  </li>
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  <!-- END Testimonial 2 -->
                  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                </ul>
              </div>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Carousel -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Testimonials Column -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Latest News / Testimonials -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        </div>
      </div>
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- END Main Content -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- Footer Container -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="footer-container">

        <!-- Spacer (20px gap) -->
        <div class="spacer"></div>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Client Logos -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="content-width">
          <div class="client-logos-container">

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Title -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="client-logos-title">
              <span>Recent Clients</span>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Title -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Navigation (Back / Next) -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div id="clients-back"></div>
            <div id="clients-next"></div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Navigation -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Carousel -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="carousel">
              <ul id="clients-carousel" class="column-container">

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <%= link_to imagetag() %>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              </ul>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Carousel -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Client Logos -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
